<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.srx.huangweishui.sanrenxinkj">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:name=".aplication.AppAplication"
        android:allowBackup="true"
        android:icon="@mipmap/common_ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name="com.srx.huangweishui.common.WebActivity"
        android:launchMode="singleTop"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:screenOrientation="portrait" />
        <activity
        android:name="com.srx.huangweishui.common.activity.SchemeCommonActivity"
        android:launchMode="singleTop"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:screenOrientation="portrait" >
            <intent-filter>
                <data android:scheme="arouter" android:host="com.srx.huangweishui" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
        android:name="com.srx.huangweishui.sanrenxinkj.activity.TestActivity"
        android:launchMode="singleTop"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:screenOrientation="portrait" />
        <activity
            android:name="com.srx.huangweishui.homeproject.activity.WellComActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.srx.huangweishui.mine.MineActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name="com.srx.huangweishui.common.WebActivity"-->
            <!--android:launchMode="singleTop"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
            <!--android:screenOrientation="portrait" />-->
    </application>

</manifest>